.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    position: absolute;
    top: 0;
    width: 90%;
    z-index: 10;
  }
  
  .logo {
    font-size: 3.5rem;
    font-weight: bold;
    color: white;
  }
  
  .dot {
    color: #8F87F1;
    margin-left: 2px;
  }
  
  .menu {
    display: flex;
    gap: 20px;
    list-style: none;
  }
  
  .menu li {
    color: white;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .menu li:hover,
  .menu .active {
    color: #8F87F1;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 60px;
    background-color: #eae3e3;
    padding: 10px 0;
    list-style: none;
    border-radius: 6px;
    z-index: 100;
  }
  
  .dropdown-menu li {
    padding: 8px 20px;
    white-space: nowrap;
    color: white;
  }
  
  .dropdown-menu li:hover {
    background-color: #8F87F1;
  }
  
  .nav-link {
    color: inherit;
    text-decoration: none;
  }
  